/*----------- flex---------*/
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-item {
    flex: 0 0 50%;
    max-width: 50%;
}
.fx-b100 {
    flex-basis: 100% !important;
    max-width: 100% !important;
}
.fx-b70 {
    flex-basis: 70% !important;
    max-width: 70% !important;
}
.fx-b75 {
    flex-basis: 75% !important;
    max-width: 75%;
}
.fx-b60 {
    flex-basis: 60% !important;
    max-width: 60% !important;
}
.fx-b65 {
    flex-basis: 65% !important;
    max-width: 65% !important;
}
.fx-b50 {
    flex-basis: 50% !important;
    max-width: 50% !important;
    }
.fx-b55{
    flex-basis: 55% !important;
    max-width: 55% !important;
    }
.fx-b40 {
    flex-basis: 40% !important;
    max-width: 40% !important;
}
.fx-b33 {
    flex-basis: 33.33% !important;
    max-width: 33.33% !important;
}
.fx-b30 {
    flex-basis: 30% !important;
    max-width: 30% !important;
}
.fx-b35 {
    flex-basis: 35% !important;
    max-width: 35% !important;
}
.fx-b45 {
    flex-basis: 45% !important;
    max-width: 45% !important;
}
.fx-b25 {
    flex-basis: 25% !important;
    max-width: 25% !important;
}
.fx-b20 {
    flex-basis: 20% !important;
    max-width: 20% !important;
}
.fx-b22 {
    flex-basis: 22% !important;
    max-width: 22% !important;
}
.fx-b15 {
    flex-basis: 15% !important;
    max-width: 15% !important;
}
.fx-b10 {
    flex-basis: 10% !important;
    max-width: 10% !important;
}
.fx-b12{
    flex-basis: 12% !important;
    max-width: 12% !important;
}
.fx-b5{
    flex-basis: 5% !important;
    max-width: 5% !important;
}
.fx-b7{
    flex-basis: 7% !important;
    max-width: 7% !important;
}
.pd-l-10{
    padding-left: 10px !important;
}
.pd-l-15{
    padding-left: 15px !important;
}
.listStyleNone {
    padding: 0;
    margin: 0;
    list-style: none;
}
.b-0{
   border:0 !important;
}
.f-17{
   font-size:17px !important;
}

/*________ Color ____*/
.text-darkRed {
    color: red !important;
}
.text-red {
    color: rgb(236, 101, 101)!important;
}
.text-lightGreen {
    color: rgb(153, 216, 6) !important;
}
.text-yellow {
    color: rgb(234, 200, 10) !important;
}
.text-darkBlue {
    color: rgb(68, 164, 249) !important;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    background-color: rgba(245, 246, 250, 1) !important;
}
body .container{
    min-width: 100%;
    padding: 0;
    display: flex;
    height: 100%;
    position: relative;
    background-color: #f7f5f5;
}

/* Form css */
.form-group {
    margin: 25px;
}

.form-group .form-control {
    padding: 10px 20px;
    border: 1px solid #DCDCDC ;
    opacity: .4;
    border-radius:20px;
    height: auto;
    font-size: 14px;
    background-color: #DCDCDC;
    color: black;
}
.form-group .form-control:focus {
    box-shadow:inset 0 0 6px rgba(0, 0, 0, 1)
}
/* Form css */


/* Login form */

.loginContainer {
    background-image: url("../images/parking.jpg");
    width: 100%;
    height: 100%;
    transition: 0.55s ease-in-out;
    background-color: #0e316d;
    background-size: cover;
    /* transform: rotate(90deg); */
    align-items: center;
    justify-content: center;
    display: flex;

}

.loginForm{
    min-height: 300px;
}

.loginBox { 
    width:  400px;
    height: 350px;
    background-color: whitesmoke;
    border-radius: 7px;
    /* background-image: linear-gradient(to right,#232526  , #414345); */
}

.loginForm .btn-primary {
    width: 60%;
    border-radius: 20px;
    background-color: blue;
    align-self: center;
    font-weight: bold;
}

.loginForm a{
    font-weight: 400;
    display: block;
    text-align: center;
    margin-top: -5px;
    cursor: pointer;
}

.loginBox .loginHeader {
    justify-content: center;
    margin: 20px;
}
.loginHeader img {
    height: 60px;
    width: inherit;
    display:block;
    margin:auto;
}
/* Login form */

/* SideNav */

.headerMenu{
    height: 100%;
    display: flex;
    align-items: center;
    left: 0;
}


.headerMenu ul{
    list-style-type: none;
    padding: 5px 50px 5px 50px;
    margin: 0px;
    width: 100%;
}
.headerMenu ul li a{
    text-decoration: none;
    color: white !important;
    font-size: 25px;
}
.headerMenu ul li a.active{
    text-decoration: none;
    color: red !important;
    font-size: 25px;
}
.headerMenu ul li a.active:hover{
    color: red;
    cursor: pointer;
    font-size: 25px;
}
.headerMenu ul li a:hover:not(.active){
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px black;
}
/* header */

.header { 
    background-image: linear-gradient(-20deg,#bdc3c7,#2c3e50)!important;
    height: 50px;
    right:0;
    left:0;
    top: 0;
    position: fixed;
    display: flex;
    z-index: 5;
    box-shadow: 0 3px 5px rgba(0,0,0,.15);
}
/* header */


/* container css*/

.content { 
    position: fixed;
    padding:12px 20px 12px 20px;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    top:50px;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 5;
    overflow-y: scroll;
}

.contentBox { 
    padding: 50px 0 50px 70px;
    position: relative;
}

.addButton  {
    color: white;
    border: 1px solid;
    border-radius: 50%;
    background-color: black;
    float: right;
}

.floatleft {
    float:left;
    cursor: pointer;
}
.floatright {
    float:right;
}

.p-0{
    padding: 0;
}
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  /* The Modal (background) */

  ::-webkit-scrollbar {
    width: 5px;
    display: none;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .mr-r-10 {
      margin-right: 10px ;
  }


  .d-block{
      display: block;
  }
  .d-none{
      display: none;
  }

  .searchContainer {
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      padding: 10px;
  }
  .searchBox {
      display: flex;
      justify-content: center;

  }
.genre {
 right: 0;
 left: 0;
 height: 50px;
 text-align:center;
}

.genre ul {
    list-style-type: none; 
    padding: 10px 50px 10px 50px;
    margin: 0px;
    width: 100%;
}
.genre ul li {
    text-decoration: none;
    display: inline;
    padding: 0px 10px 0px 10px;
    
}
.genre ul li:hover {
    cursor: pointer;
    
}
.genre ul li.active {
    color:blue;
    
}

  form.example input[type=text] {
    padding:  10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  #card-view {
    padding: 20px;
  }
   #card-view article {
    position: relative;
    display: inline-block;
    width: 280px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 22px;
    border-radius: 25px;
  }
  #card-view article:hover {
    transform: scale(1.04);
    transition: all 0.4s;
}
  #card-view article .card-image {
    width: 100%;
    height: 200px;
    border-radius: 35px;
    background-color: #858e99;
    background-position: center;
    background-size: cover;
  }
  #card-view article .card-image img{
    width: 100%;
    height: 200px;
    cursor: pointer;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
    border: white 5px solid;
    background-color: #858e99;
    background-position: center;
    background-size: cover;
  }

  #card-view article .card-text {
    padding: 5px 10px 5px 10px;
    height:50px;
  }

  #card-view article .card-text h5{
    overflow-wrap:break-word;
  }
  #card-view article button {
    background: #0fa0eb;
    border: 0;
    color: white;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
  }
  #card-view article button:hover {
    background: #858e99;
  }
  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}


.noDataFound {
    height: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #232526;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-  transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}




@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');

@-moz-keyframes rocket-movement { 100% {-moz-transform: translate(1200px,-600px);} }
@-webkit-keyframes rocket-movement {100% {-webkit-transform: translate(1200px,-600px); } }
@keyframes rocket-movement { 100% {transform: translate(1200px,-600px);} }
@-moz-keyframes spin-earth { 100% { -moz-transform: rotate(-360deg); transition: transform 20s;  } }
@-webkit-keyframes spin-earth { 100% { -webkit-transform: rotate(-360deg); transition: transform 20s;  } }
@keyframes spin-earth{ 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); transition: transform 20s; } }

@-moz-keyframes move-astronaut {
    100% { -moz-transform: translate(-160px, -160px);}
}
@-webkit-keyframes move-astronaut {
    100% { -webkit-transform: translate(-160px, -160px);}
}
@keyframes move-astronaut{
    100% { -webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px); }
}
@-moz-keyframes rotate-astronaut {
    100% { -moz-transform: rotate(-720deg);}
}
@-webkit-keyframes rotate-astronaut {
    100% { -webkit-transform: rotate(-720deg);}
}
@keyframes rotate-astronaut{
    100% { -webkit-transform: rotate(-720deg); transform:rotate(-720deg); }
}

@-moz-keyframes glow-star {
    40% { -moz-opacity: 0.3;}
    90%,100% { -moz-opacity: 1; -moz-transform: scale(1.2);}
}
@-webkit-keyframes glow-star {
    40% { -webkit-opacity: 0.3;}
    90%,100% { -webkit-opacity: 1; -webkit-transform: scale(1.2);}
}
@keyframes glow-star{
    40% { -webkit-opacity: 0.3; opacity: 0.3;  }
    90%,100% { -webkit-opacity: 1; opacity: 1; -webkit-transform: scale(1.2); transform: scale(1.2); border-radius: 999999px;}
}

.spin-earth-on-hover{
    
    transition: ease 200s !important;
    transform: rotate(-3600deg) !important;
}

.bg-purple{
    background: url(http://salehriaz.com/404Page/img/bg_purple.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 100%;
    overflow: hidden;
    
}

.custom-navbar{
    padding-top: 15px;
}

.brand-logo{
    margin-left: 25px;
    margin-top: 5px;
    display: inline-block;
}

.navbar-links{
    display: inline-block;
    margin-left: 25px;
    text-transform: uppercase;
    
    
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
    display: flex; 
    align-items: center; 
}

.navbar-links  li {
    float: left;
    padding: 0px 15px;
}

.navbar-links  li a {
    display: block;
    color: white;
    text-a.navbar-links  lign: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 12px;
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.navbar-links  li a:hover {
    color: #ffcb39;
}

.btn-request{
    padding: 10px 25px;
    border: 1px solid #FFCB39;
    border-radius: 100px;
    font-weight: 400;
}

.btn-request:hover{
    background-color: #FFCB39;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.btn-go-home{
    position: relative;
    z-index: 200;
    margin: 15px auto;
    width: 100px;
    padding: 10px 15px;
    border: 1px solid #FFCB39;
    border-radius: 100px;
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 11px;
    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.btn-go-home:hover{
    background-color: #FFCB39;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.central-body{
/*    width: 100%;*/
    padding: 17% 5% 10% 5%;
    text-align: center;
}

.objects img{
    z-index: 90;
    pointer-events: none;
}

.object_rocket{
    z-index: 95;
    position: absolute;
    transform: translateX(-50px);
    top: 75%;
    pointer-events: none;
    animation: rocket-movement 200s linear infinite both running;
}

.object_earth{
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 90;
/*    animation: spin-earth 100s infinite linear both;*/
}

.object_moon{
    position: absolute;
    top: 12%;
    left: 25%;
/*
    transform: rotate(0deg);
    transition: transform ease-in 99999999999s;
*/
}

.earth-moon{
    
}

.object_astronaut{
    animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut{
    z-index: 110 !important;
    position: absolute;
    top: 60%;
    right: 20%;
    will-change: transform;
    animation: move-astronaut 50s infinite linear both alternate;
}

.image-404{
    position: relative;
    z-index: 100;
    pointer-events: none;
}

.stars{
    background: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
    background-repeat: repeat;
    background-size: contain;
    background-position: left top;
}

.glowing_stars .star{
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    width: 3px;
    height: 3px;
    opacity: 0.3;
    will-change: opacity;
}

.glowing_stars .star:nth-child(1){
    top: 80%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 1s;
}
.glowing_stars .star:nth-child(2){
    top: 20%;
    left: 40%;
    animation: glow-star 2s infinite ease-in-out alternate 3s;
}
.glowing_stars .star:nth-child(3){
    top: 25%;
    left: 25%;
    animation: glow-star 2s infinite ease-in-out alternate 5s;
}
.glowing_stars .star:nth-child(4){
    top: 75%;
    left: 80%;
    animation: glow-star 2s infinite ease-in-out alternate 7s;
}
.glowing_stars .star:nth-child(5){
    top: 90%;
    left: 50%;
    animation: glow-star 2s infinite ease-in-out alternate 9s;
}

@media only screen and (max-width: 600px){
    .navbar-links{
        display: none;
    }
    
    .custom-navbar{
        text-align: center;
    }
    
    .brand-logo img{
        width: 120px;
    }
    
    .box_astronaut{
        top: 70%;
    }
    
    .central-body{
        padding-top: 25%;
    }
}

.mr-t-50 {
    margin-top: 50px;
}

.movie_card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    width: 100%;
    height: 7%;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}
.movie_card:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}
.movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}
.movie_card .info_section .movie_header {
    position: relative;
    padding: 25px;
    height: 40%;
}
.movie_card .info_section .movie_header h1 {
    color: #fff;
    font-weight: 400;
}
.movie_card .info_section .movie_header h4 {
    color: #9ac7fa;
    font-weight: 400;
}
.movie_card .info_section .movie_header .minutes {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
    display: inline-block;
    color: #cee4fd;
    margin-left: 10px;
}
.movie_card .info_section .movie_header .locandina {
    position: relative;
    float: left;
    margin-right: 20px;
    height: 250px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_card .info_section .movie_desc {
    padding: 25px;
    height: 50%;
}
.movie_card .info_section .movie_desc .text {
    color: #cfd6e1;
    margin-top: 50px;
}
.movie_card .info_section .movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}
.movie_card .info_section .movie_social ul {
    list-style: none;
    padding: 0;
}
.movie_card .info_section .movie_social ul li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.4);
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: 0 10px;
}
.movie_card .info_section .movie_social ul li:hover {
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.8);
}
.movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
}
@media screen and (min-width: 768px) {
    .movie_header {
        width: 60%;
   }
    .movie_desc {
        width: 50%;
   }
    .info_section {
        background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
   }
    .blur_back {
        width: 80%;
        background-position: -100% 10% !important;
   }
}
@media screen and (max-width: 768px) {
    .movie_card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
   }
    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
   }
    .movie_header {
        width: 100%;
        margin-top: 85px;
   }
    .movie_desc {
        width: 100%;
   }
    .info_section {
        background: linear-gradient(to top, #141413 50%, transparent 100%);
        display: inline-grid;
   }
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
 @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
 body {
	 background-color: #f8fafb;
	 font-family: 'Open Sans', sans-serif;
	 padding-top: 10%;
}
 .col-md-5, .description {
	 padding: 0;
}
 .description {
	 font-family: 'Fredericka the Great', cursive;
	 text-align: center;
}
 .card-header, .metadata {
	 background: none;
	 padding: 0;
	 position: relative;
	 border-style: none;
}
 .metadata {
	 font-size: 16px;
}
 .metadata i, .metadata p {
	 float: left;
}
 .metadata p {
	 margin-top: 0;
	 margin-left: 10px;
}
 .metadata i {
	 color: #ff9d00;
	 margin-top: 5px;
	 margin-left: 1px;
}
 .card-img {
	 -webkit-clip-path: inset(10% 0 20% 0);
	 clip-path: inset(10% 0 20% 0);
	 margin-top: -15%;
}
 .card-body {
	 position: relative;
	 /* margin-top: -30%; */
	 color: #9fa7a9;
}
 .card-body .card-title {
	 font-weight: 600;
	 color: #414345;
}
 .card-body .card-text {
	 margin-top: 8px;
	 font-weight: 600;
	 line-height: 30px;
}
 .card, .trailer-preview {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .card:hover, .trailer-preview:hover {
     box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10), 0 8px 8px rgba(0, 0, 0, 0.18);
}
 .card {
	 border-radius: 8pt;
	 border-style: none;
	 overflow: hidden;
	 transform: scale(0.8);
     margin-top: -50px;
}
.a {
    color: white;
}
.cardImgHeight{
    height: 400px;
}
 .trailer-preview {
	 background-color: #ff3d49;
	 position: absolute;
	 top: -46px;
	 right: 24px;
	 width: 80px;
	 height: 80px;
	 border-radius: 50%;
	 color: white;
	 font-size: 36px;
	 text-align: center;
	 padding-top: 13px;
}
 .trailer-preview:hover, .trailer-preview:disabled, .trailer-preview:active, .trailer-preview:focus {
	 background-color: #ff3d49;
	 color: white;
}
 .trailer-preview i {
	 margin-left: 5px;
}
 .max-width{
    cursor: pointer;
    max-width: 30rem;
 }